<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/atrboard-logo1-removebg-preview.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container header-content">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1 class="header-title">Insectus - The Farm of the Future</h1>
          <p class="header-subtitle">We use a circular system to deliver high-quality protein</p>
          <div class="header-buttons">
            <a class="btn btn-primary btn-lg" href="#products">Explore Products</a>
            <a class="btn btn-outline-primary btn-lg" href="#about">Learn About Us</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="header-image" src="../assets/landscape4.jpg" alt="Farm Image">
        </div>
      </div>
    </div>
  </header>
  
  <!-- app.component.html -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img class="about-image" src="../assets/aboutus.jpg" alt="About Image 1">
        </div>
        <div class="col-lg-6">
          <h2 class="section-title">About Us</h2>
          <p class="section-text">
            On December 9th, 2022, the 'Insectus' team was formed during an entrepreneurial competition organized by the university,
            where they achieved excellent results. Thus, the need for an insect farm was confirmed, and the project was launched on a large scale.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- app.component.html -->
  <section id="mission" class="mission-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="section-title">Our Mission</h2>
          <p class="section-text">
            We are dedicated to revolutionizing the future of farming by promoting sustainable practices and
            providing high-quality protein through our innovative insect farming methods.
          </p>
        </div>
        <div class="col-lg-6">
          <img class="mission-image" src="../assets/ourmision.jpg
          " alt="Mission Image 1">
        </div>
      </div>
    </div>
  </section>

  <!-- why-us.component.html -->
<section id="why-us" class="why-us-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <img src="../../../assets/whyus.jpg" alt="Why us" class="whyus-image">
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 class="section-title-whyus">Why Us?</h2>
        <ul class="section-list">
          <li>
            <i class="fas fa-check"></i> <strong>Innovative Nutrition:</strong> We're rewriting the script on sustainable nutrition. Our insect-based products provide a superior source of protein, fiber, and essential nutrients. It's a game-changer for your livestock and a healthier choice for you.
          </li>
          <li>
            <i class="fas fa-check"></i> <strong>Environmentally Friendly:</strong> We're committed to reducing the carbon footprint of agriculture. Insects are incredibly efficient at converting feed into protein, requiring fewer resources than traditional livestock. Choosing our products means choosing a greener future.
          </li>
          <li>
            <i class="fas fa-check"></i> <strong>Competitive Pricing:</strong> We believe that sustainable solutions shouldn't break the bank. Our insect-based products are not only eco-friendly but also budget-friendly. You get superior nutrition without the premium price tag.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- technology.component.html -->
<section id="technology" class="technology-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="section-title-t">Our Innovative Approach</h2>
        <p class="section-text-t">
          At Insectus, we're pioneering a new era of sustainable farming that combines cutting-edge technology with nature's wisdom. Our approach is built on three pillars:
        </p>
        <ul class="section-list">
          <li>
            <i class="fas fa-leaf"></i> <strong>Vertical Farming:</strong> We embrace vertical farming to maximize space efficiency and cultivate insect species that thrive in controlled environments.
          </li>
          <li>
            <i class="fas fa-robot"></i> <strong>Advanced Robotics:</strong> Our state-of-the-art robotics play a pivotal role in ensuring the well-being of our insect colonies. These cutting-edge machines meticulously manage the environments, from regulating temperature and humidity to monitoring insect health. This precision ensures that our insects thrive in optimal conditions, contributing to the highest quality insect-based products for you.
          </li>
          <li>
            <i class="fas fa-lightbulb"></i> <strong>AI Insights:</strong> Artificial intelligence powers our data-driven decisions, allowing us to optimize resources, reduce waste, and deliver the best to you.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12">
        <img src="../../../assets/tech.png" alt="Technology" class="technology-image">
      </div>
    </div>
  </div>
</section>



  
  <!-- app.component.html -->
  <section id="products" class="products-section">
    <div class="container">
      <h2 class="section-title">Our Products</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../../assets/Produs_insectus_3.png" alt="Product 1">
            <h3 class="product-title">Animal Feed</h3>
            <p class="product-description">Revolutionize your livestock's diet with our premium insect-based animal feed. Packed with essential nutrients, it's a sustainable and protein-rich choice that's good for your animals and the environment.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../../assets/Produs_insectus_4.png" alt="Product 2">
            <h3 class="product-title">Pet Food</h3>
            <p class="product-description">Treat your furry friends to the finest in sustainable pet nutrition. Our insect-based pet food is not only delicious but also eco-friendly. It's a meal they'll wag their tails for.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-card">
            <img src="../../../assets/Produs_insectus_5.png" alt="Product 3">
            <h3 class="product-title">Protein Oil</h3>
            <p class="product-description">Discover the secret to healthier, happier chickens with our high-quality insect oil. A natural alternative to palm oil, it's packed with benefits that'll have your chickens clucking with joy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- app.component.html -->
  <section id="order" class="order-section">
    <div class="order-container">
      <p class="section-text">
        To place an order, please click the button below.
      </p>
      <a routerLink="/checkout" class="btn btn-primary">Place Order</a>
    </div>
  </section>
  
  <!-- app.component.html -->
  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="section-title2">Contact Us</h2>
          <ul class="contact-info">
            <li><strong>Phone:</strong> +40 761 083 666</li>
            <li><strong>Email:</strong> insectusfactory@yahoo.com</li>
            <li><strong>Address:</strong> str. Aleea Studenților nr. 2000</li>
            <li class="social-icons">
              <a href="https://www.facebook.com/insectusromania" target="_blank" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/insectusfactory" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
            <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2859.577323338722!2d28.641131476014504!3d44.215771071081036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40baf07705634c07%3A0x46f28227b1612ce3!2sAleea%20Studentilor%2C%20Constan%C8%9Ba!5e0!3m2!1sro!2sro!4v1692795115888!5m2!1sro!2sro" 
            allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <!-- app.component.html -->
  <footer class="footer">
    <div class="container text-center">
      <p class="footer-text">
        &copy; 2023 Insectus. All Rights Reserved.
      </p>
    </div>
  </footer>
